* {
	font-family: "Slabo 27px", serif;
	background-color: #e0f7f7;
}


/*Header*/
i {
	color: #c33;
	margin: 30px 0 0 8%;
}

.description {
	display: inline-block;
	text-transform: uppercase;
	float: right;
	margin-right: 8%;
}

.description p {
	font-size: 18px;
}


/*Main picture*/
#main {
	width: 85%;
	height: auto;
	display: block;
	margin: 40px auto 30px auto;
	opacity: 0.7;
}


/*Works Section*/
#featured {
	font-size: 30px;
	color: #c33;
	margin-left: 30px;
}

#works {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	text-align: center;
	margin: 30px;
}

article h3 {
	font-size: 22px;
	text-transform: uppercase;
}

article a {
	font-size: 18px;
	text-decoration: none;
	color: #000;
}

article a:hover {
	color: #c33;
}

/*To enlargen images when hovered on*/
article img:hover {
	transform: scale(1.03);
}

/*For screens smaller than 937px
where one project appears per row*/
@media screen and (max-width: 937px)
{
	#featured {
		text-align: center;
	}

	article h3 {
	font-size: 26px;
	text-transform: uppercase;
	}

	article a {
		font-size: 22px;
	}

	article img {
		width: 100%;
		height: auto;
	}
}

/*For screens between 938px and 1395
where only two projects appear in the first row*/
@media screen and (min-width: 938px) and (max-width: 1395px)
{
	#quote-project {
		order: 3;
	}

	#weather-project {
		order: 2;
	}

	#wiki-project {
		order: 1;
	}
}

/*For screens larger than 1400px
where the three projects appear in one row*/
@media screen and (min-width: 1400px)
{
	#quote-project {
		order: 2;
	}

	#weather-project {
		order: 1;
	}

	#wiki-project {
		order: 3;
	}
}